/* Bu CSS dökümaný Mustafa Çolakoðlu tarafýndan kodlanmýþtýr. */
	body{

	}
		#genel{
			width:90%;
			height:auto;
			float:none;
			margin:0 auto;
			overflow:auto;
		}
			header{
				width:100%;
				margin:0 auto;
				float:none;
				overflow:auto;
				border-radius:10px;
				border-top-left-radius:0;
				border-top-right-radius:0;
				background:#690;
				z-index:999;
			}
				menu ul li{
					width:auto;
					margin-right:20px;
				}
					menu ul li a{
						display:block;
						padding:20px;
						font:bold 20px Tahoma;
						color:#cff;
					}
					menu ul li a:hover{
						background:#030;
						color:#9ff;
					}
				.baslik{
					display:block;
					color:#036;
					float:right;
					padding:20px;
					font:bold 20px Tahoma;
					background:#09c;
				}
				.baslik:hover{
					background:#09f;
				}
			section{
				width:100%;
				height:300px;
				background:#470;
				margin-top:-20px;
				padding-top:20px;
				border-radius:10px;
				z-index:888;
			}
			footer{
				width:100%;
				height:50px;
				background:#121212;
				margin-top:-20px;
				padding-top:20px;
				border-radius:10px;
				z-index:777;
			}