.uyari{
	width:100%;
	text-align:center;
	background:#83aa19;
	min-height:20px;
}
	.kirmizi{
		display:inline-block;
		margin:0 auto;
		float:none;
		color:#c03;
		font-family:Courier;
		font-weight:bold;
	}
	.mavi{
		display:inline-block;
		margin:0 auto;
		float:none;
		color:#036;
		font-family:Courier;
		font-weight:bold;
	}
	.sari{
		display:inline-block;
		margin:0 auto;
		float:none;
		color:#fc0;
		font-family:Courier;
		font-weight:bold;
	}
	table.islemler{
		width:906px;
		float:none;
		margin:0 auto;
	}
		table.islemler tr{
			width:906px;
		}
			table.islemler tr td{
				width:300px;
				text-align:center;
				border:1px solid red;
			}
.form{
	width:100%;
}
	.form .fonksiyonKutu{
		margin:0 auto;
		float:none;
		width:300px;
	}
	.form .fonksiyonKutu input{
		border:1px solid;
		float:none;
		display:inline-block;
		font-family:Courier;
		font-weight:bold;
	}
.uyarilar{
	width:500px;
	float:none;
	margin:0 auto;
	background:#39f;
	min-height:300px;
	font-family:Courier;
	font-weight:bold;
}
	.uyariDetay{
		width:450px;
		margin-left:50px;
		font-size:15px;
	}
.sistemBilgileri{
	width:500px;
	min-height:250px;
	background:#121212;
	float:none;
	margin:0 auto;
	font-family:Verdana;
	color:#fff;
	font-size:15px;
	text-align:center;
	overflow:auto;
}
	.sistemBilgileri h5.baslik{
		font-size:13px;
		width:500px;
		text-align:center;
		color:#fff;
	}
	.sistemBilgileri h6.baslik{
		font-size:13px;
		width:500px;
		text-align:center;
		color:#c60;
	}
	font.sistemiyi{
		display:inline-block;float:none;
		color:#360;
	}
	font.sistemKotu{
		display:inline-block;float:none;
		color:#c30;
	}
	.sistemBilgileri font a{
		color:#360;
		text-decoration:underline;
	}